<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scisr | Analytics</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header">
        <div>
          <h3>
            <img
              src="/assets/icons8-barber-scissors-96.png"
              class="logo"
              alt="scisr logo"
            />
            Scisr
          </h3>
        </div>
        <% if (url.user){ %>
        <nav class="nav">
          <img src=<%=url.user.dp%> alt="dp" width="40px">
          <p><%=url.user.name%></p>
        </nav>
        <% } %>
        <% if (!url.user){ %>
        <nav class="nav">
          <a href="https://documenter.getpostman.com/view/18352130/2s93sjUUX7" target="_blank"><p>Docs</p></a>
          <a href="/auth/login"><button class="signin">Signin</button></a>
        </nav>
        <% } %>
  
        <!-- // auth username and photo -->
    </header>
    <main class="main_analytic">
        <h2>Analytics</h2>
        <p>Here are the details and performance of your link</p>
          
        <img src=<%=url.res.urlData.qrcode%> width="200px" alt="qrcode">
        <div class="downl">
            <a href=<%=url.res.urlData.qrcode%> type="image/png" download="qrcode.png">
                <button class="btn btn2"><img src="/assets/file-download-svgrepo-com.svg" alt="download" class="icon2"> Download</button>
            </a>
        </div>
        <div>
            <h3>Shortened URL</h3>
            <a href=<%=url.res.urlData.shortened_url%>><p><%=url.res.urlData.shortened_url%></p></a>
        </div>
        <div>
            <h3>Original URL</h3>
            <a href=<%=url.res.urlData.original_url%>><p><%=url.res.urlData.original_url%></p></a>
        </div>
        <div>
            <h3>Click Count</h3>
            <p><%=url.res.urlData.clicks%></p>
        </div>
    </main>
    </body>
</html>